@model IEnumerable<Capstone.Models.Availability>

@{
    ViewBag.Title = "Index";
}

<h2>My Availability</h2>

<p>
    @Html.ActionLink("Add Day", "Create")
</p>
<table class="table">
    <tr>
        @if (User.IsInRole("Admin"))
        {
            <th>
                @Html.DisplayNameFor(model => model.Admin.Name)
            </th>
        }
        else
        {
            <th>
                @Html.DisplayNameFor(model => model.Volunteer.Name)
            </th>
        }
        <th>
            @Html.DisplayNameFor(model => model.Week.Day)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Program.Service)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.VolunteerStatus)
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        @if (User.IsInRole("Admin"))
        {
            <td>
                @Html.DisplayFor(modelItem => item.Admin.Name)
            </td>
        }
        else
        {
            <td>
                @Html.DisplayFor(modelItem => item.Volunteer.Name)
            </td>
        }
        <td>
            @Html.DisplayFor(modelItem => item.Week.Day)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Program.Service)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.VolunteerStatus)
        </td>*@
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |

            @Html.ActionLink("Delete", "Delete", new { id = item.ID })
        </td>
    </tr>
}

</table>

<br />
<div>
    @if (User.IsInRole("Admin"))
    {
        @Html.ActionLink("Back to All Availability", "ScheduleIndex", "Availabilities")
    }
</div>
