@model IEnumerable<Capstone.Models.Availability>

@{
    ViewBag.Title = "ScheduleIndex";
}

<div style="background-color: khaki">
    <br />
    <center><h2><strong>All Availability</strong></h2></center>
    <br />
</div>
<br />

<style>
    .indented {
        padding-left: 25pt;
        padding-right: 25pt;
    }
    .headerColor {
        background-color: darkgreen;
        color: white;
    }
</style>
<h4><strong>
    @Html.ActionLink("Create New Schedule", "ScheduleCreate")
    <a class="indented">
    @Html.ActionLink("Add My Availability", "Index", "Availabilities")
    </a>
</strong></h4>
<table class="table">
    <tr class="headerColor">
        @*<a href="~/Views/Availabilities/ScheduleIndex.cshtml">~/Views/Availabilities/ScheduleIndex.cshtml</a>*@
        <th>
            @Html.DisplayNameFor(model => model.Admin.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Volunteer.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Week.Day)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Program.Service)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VolunteerStatus)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Admin.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Volunteer.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Week.Day)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Program.Service)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VolunteerStatus)
        </td>
        <td>
            @Html.ActionLink("Edit", "ScheduleEdit", new { id=item.ID }) |
            
            @Html.ActionLink("Delete", "ScheduleDelete", new { id=item.ID })
        </td>
    </tr>
}

</table>

