@model IEnumerable<Capstone.Models.Request>

@{
    ViewBag.Title = "RequestOffIndex";
}

<div style="background-color: khaki">
    <br />
    <center><h2><strong>Request Off</strong></h2></center>
    <br />
</div>
<br />

<h4><strong>
    @if (User.IsInRole("Volunteer"))
    {
        @Html.ActionLink("Add Request", "RequestOffCreate")
    }
</strong></h4>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Volunteer.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Reason)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Volunteer.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Reason)
        </td>

        @if (User.IsInRole("Volunteer"))
        {
            <td>
                @Html.ActionLink("Edit", "RequestOffEdit", new { id = item.ID }) |

                @Html.ActionLink("Delete", "RequestOffDelete", new { id = item.ID })
            </td>
        }
        else
        {
            <td>
                @Html.ActionLink("Delete", "RequestOffDelete", new { id = item.ID })
            </td>
        }
    </tr>
}

</table>

<div><h4><strong>
    @if (User.IsInRole("Admin"))
    {
        @Html.ActionLink("Back to Schedule", "ScheduleCreate", "Availabilities")
    }
    @if (User.IsInRole("Volunteer"))
    {
        @Html.ActionLink("Back to My Availability", "Index", "Availabilities")
    }
</strong></h4></div>
