@model IEnumerable<Capstone.Models.Event>

@{
    ViewBag.Title = "Index";
}
<div style="background-color: khaki">
<br />
<center><h2><strong>Events</strong></h2></center>
<br />
</div>
<style>
    .indented {
        padding-left: 400pt;
        padding-right: 400pt;
    }
</style>

<h4><strong>
    @if (User.IsInRole("Admin"))
    {
        @Html.ActionLink("Add Event", "Create")
    }
   <a class="indented">
    @if (User.IsInRole("Admin") || (User.IsInRole("Volunteer")))
    {
        @Html.ActionLink("Sign Up", "Index", "EventViewModels")
    }
    </a>
</strong></h4>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Occasion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Location)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Occasion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @if (User.IsInRole("Admin"))
            {
                @Html.ActionLink("Edit", "Edit", new { id = item.ID })<br>
                @Html.ActionLink("Details", "Details", new { id = item.ID })<br>
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })<br>
                @Html.ActionLink("View Attendance", "AttendanceIndex", new { id = item.ID })
            }
        </td>
    </tr>
}

</table>
